.usersPageContainer {
    margin-left: 250px;
    padding: 20px;
}

.companiesPageHeader {
    display: flex;
    width: 100%;
    align-items: center;
}

.companiesHeader {
    font-size: 3rem;
    flex-grow: 1;
    text-align: center;
    text-decoration: underline;
}

.companiesAddNewCompanyButton {
    margin-left: auto;
    margin-right: 3rem;
}

.modalFooter {
    margin-top: 1rem;
    text-align: center;
}

.companiesButton {
    margin-right: 1rem;
    height: 2rem;
}
