.companyCard {
    background: var(--default-light-background-color);
    width: 40%;
    margin: 4rem auto;
    border: 0.3rem var(--border-color) solid;
}

.schedule-page {
    margin-left: 250px;
    padding: 20px;
}