.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.selectContainer {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.popover-content {
    padding: 20px;
}

.auditInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auditInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.label {
    font-weight: bold;
}

.dateTimeIcon {
    color: gray;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

td {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

td:hover {
    background-color: #f1f1f1;
}

td.green {
    background-color: #4caf50;
    color: white;
}

td.green:hover {
    background-color: #45a049;
}
