.topNavBar {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    border: var(--border-color) 0.2rem solid;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.buttonNavBar {
    margin: 0 4rem;
}