body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.app-container {
    display: flex;
}

.content {
    text-align: center;
    padding: 20px;
    background-color: var(--default-background-color);
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}
