body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.app-container {
    display: flex;
}

.content {
    text-align: center;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.light {
    background-color: var(--light-gray);
}

.dark {
    background-color: var(--medium-gray);
}