:root {
    /*
        Custom application constant colors
    */
    --light-gray: #f1f1f5;
    --medium-gray: #d0d0d4;
    --light-blue: #3b78c6;
    --medium-blue: #172c59;
    --border-color: #2e2e7d;
    --error-color: #f60e0e;
    --default-background-color: #f1f1f5;

    /*
        Custom application font settings & properties
    */
    font-weight: bold;
}

.commonPageContainer {
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0 0 20px #0000001a;
    color: black;
    margin: 0 auto 2.5rem auto;
    padding: 20px;
    width: calc(100% - 2rem);
}

.commonPageHeader {
    display: flex;
    margin-bottom: 20px;
    color: black;
    font-size: 24px;
    flex-grow: 1;
    text-decoration: underline;
}

body {
    overflow-y: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}