.companyInfo {
    margin-bottom: 20px;
    text-align: left;
}

.companyInfo p {
    margin: 5px 0;
}


.auditInfo {
    text-align: left;
    color: black;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.auditInfo p {
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
