.companyInfo {
    margin-bottom: 20px;
    text-align: left;
}

.companyInfo p {
    margin: 5px 0;
}


.companyAuditInfo {
    text-align: left;
    color: black;
    padding-top: 20px;
}

.companyAuditInfo p {
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    background-color: var(--medium-green);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 2rem;
}

button:hover {
    background-color: var(--light-green);
}
